@import '../variables';


html
{
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 100%; /* equates to ~16px.  Used for rem */
}

body
{
	background-color: $color-background;
	background-repeat: repeat;
	color: $color-black;
	font-size: 16px;
	font-family: $font-family-text;
	height: 100%;
	line-height: 1.25;
	margin: 0;
	width: 100%;
}


/* SMALL - PORTRAIT */
//20rem = 320px
@media only screen and (max-width : $smallPortraitMaxWidth)
{
}


/* SMALL - LANDSCAPE */
//20.0625rem = 321px	
//39.9999rem = 639px
@media only screen and (min-width : $smallLandscapeMinWidth) and (max-width : $smallLandscapeMaxWidth) and (orientation : landscape)
{	
}


/* CUSTOM - 500px */
@media only screen and (min-width : 500px)
{
}


/* MEDIUM */
//40rem = 640px
@media only screen and (min-width : $mediumMinWidth)
{
}


/* MEDIUM - PORTRAIT*/
//40rem = 640px		
//64rem = 1024px 
@media only screen and (min-width : $mediumMinWidth) and (max-width : $mediumMaxWidth) and (orientation : portrait)
{
}


/* MEDIUM - LANDSCAPE */
//40rem = 640px		
//64rem = 1024px
@media only screen and (min-width : $mediumMinWidth) and (max-width : $mediumMaxWidth) and (orientation : landscape)
{	
}


/* MEDIUM - MID */
//48rem = 768px
@media only screen and (min-width : $mediumMidWidth)
{
}


/* LARGE */
//64.0625rem = 1025px
@media only screen and (min-width: $largeMinWidth)
{
}