<section class="breadcrumb-container" *ngIf="hasBreadCrumbs">

	BREAD CRUMBS HERE...

	<!--<section class="grid-container">
		<div class="grid-block align-center">
			<div id="crumbs">
				<ul>
					<li>
						<a href="" (click)="GoToHomeState()" title="Go to home page">
							<i class="fa fa-home"></i> Home
						</a>
					</li>
					<li *ngFor="let breadcrumb of breadcrumbService.BreadCrumbList">
						<a (click)="GoToBreadcrumb(breadcrumb)" title="{{breadcrumb.Title}}">{{breadcrumb.Name}}</a>
					</li>
					<li><a>{{breadcrumbService.PageName}}</a></li>
				</ul>
			</div>			
		</div>
	</section>-->
</section>