@import '../../../../styles/variables';

cdf-video-background
{
	height: 15rem !important;
}

.tweet-InformationCircle-widgetParent {
	position: static;
}

.page-container
{
	&__header
	{
		&__content
		{
			h2
			{
				font-size: 3rem;
				padding: 0 1.5rem 0;			
				text-transform: capitalize;
			}

			.row
			{
				height: 15rem;
			}			
		}
	}
}

.masonry-layout 
{
	column-count: 1;
	-webkit-column-count: 1;
	column-gap: 0;
	-webkit-column-gap: 0;
	margin: 0 auto;
	padding: 0 0 0.75rem 0;

  	&__panel 
	{
		break-inside: avoid;
		-webkit-column-break-inside: avoid;

		&__content 
		{
			border-radius: 0.325rem;
			padding: 0 0.75rem;

			&--img
			{
				border-radius: 0.325rem;
				max-width: 100%;
				padding: 0;				
			}
		}
	}

	.hasVideo
	{
		margin: 0.5rem 0;
	}
}



/* SMALL - PORTRAIT */
//20rem = 320px
@media only screen and (max-width : $smallPortraitMaxWidth)
{
}


/* SMALL - LANDSCAPE */
//20.0625rem = 321px	
//39.9999rem = 639px
@media only screen and (min-width : $smallLandscapeMinWidth) and (max-width : $smallLandscapeMaxWidth) and (orientation : landscape)
{	
}


/* CUSTOM - 500px */
@media only screen and (min-width : 500px)
{
	cdf-video-background
	{
		height: 20rem !important;
	}

	.page-container
	{
		&__header
		{
			&__content
			{
				.row
				{
					height: 20rem;
				}
			}
		}
	}	

	.masonry-layout 
	{
		column-count: 2;
		-webkit-column-count: 2;
	}	
}


/* MEDIUM */
//40rem = 640px
@media only screen and (min-width : $mediumMinWidth)
{
}


/* MEDIUM - PORTRAIT*/
//40rem = 640px		
//64rem = 1024px 
@media only screen and (min-width : $mediumMinWidth) and (max-width : $mediumMaxWidth) and (orientation : portrait)
{
}


/* MEDIUM - LANDSCAPE */
//40rem = 640px		
//64rem = 1024px
@media only screen and (min-width : $mediumMinWidth) and (max-width : $mediumMaxWidth) and (orientation : landscape)
{	
}


/* MEDIUM - MID */
//48rem = 768px
@media only screen and (min-width : $mediumMidWidth)
{
	cdf-video-background
	{
		height: 30rem !important;
	}

	.page-container
	{
		&__header
		{
			&__content
			{
				h2
				{
					font-size: 4rem;
					line-height: 1.125;
					padding: 1rem 10rem 0;
				}	

				.row
				{
					height: 30rem;
				}								
			}
		}
	}	

	.masonry-layout 
	{		
		column-count: 3;
		-webkit-column-count: 3;		
		max-width: 48rem;
	}	
}


/* LARGE */
//64.0625rem = 1025px
@media only screen and (min-width: $largeMinWidth)
{
	.masonry-layout 
	{
		max-width: 60rem;
	}		
}