<footer role="topFooter" class="text-center">
	<section class="row align-center">
		<div class="columns">
			<h2>Menu</h2>
			<dsb-nav></dsb-nav>	
		</div>
		<div class="columns">
			<h2>Social Connections</h2>
			<dsp-social-media-list></dsp-social-media-list>	
		</div>						
	</section>		
</footer>

<footer role="bottomFooter" class="text-center">
	<section class="row align-justify">
		<div class="column">
			copyright <i class="fa fa-copyright"></i> 2017.  All rights reserved.
		</div>
		<div class="column">
			made with <i class="fa fa-heart"></i> by <a href="http://www.screwtopmedia.com" target="_blank">screwtopmedia.com</a>
		</div>						
	</section>		
</footer>