@import '../../../../../styles/variables';


.address-list-container
{
	.area__title
	{
		color: $color-black;
		font-size: 1.25rem;
		text-align: left;		
		text-transform: uppercase;

		&+section
		{
			margin: 0.5rem 1rem;
		}	
	}	
}

.vcard
{
	color: $color-primary;
	font-family: $font-family-subheader;
	font-size: 1.125rem;
	padding: 0.5rem;
	position: relative;
	text-align: left;

	.adr
	{
		>div
		{
			margin: 0 0 0.25rem 0;
		}
	}
}



/* SMALL - PORTRAIT */
//20rem = 320px
@media only screen and (max-width : $smallPortraitMaxWidth)
{
}


/* SMALL - LANDSCAPE */
//20.0625rem = 321px	
//39.9999rem = 639px
@media only screen and (min-width : $smallLandscapeMinWidth) and (max-width : $smallLandscapeMaxWidth) and (orientation : landscape)
{	
}


/* CUSTOM - 500px */
@media only screen and (min-width : 500px)
{
}


/* MEDIUM */
//40rem = 640px
@media only screen and (min-width : $mediumMinWidth)
{
}


/* MEDIUM - PORTRAIT*/
//40rem = 640px		
//64rem = 1024px 
@media only screen and (min-width : $mediumMinWidth) and (max-width : $mediumMaxWidth) and (orientation : portrait)
{
}


/* MEDIUM - LANDSCAPE */
//40rem = 640px		
//64rem = 1024px
@media only screen and (min-width : $mediumMinWidth) and (max-width : $mediumMaxWidth) and (orientation : landscape)
{	
}


/* MEDIUM - MID */
//48rem = 768px
@media only screen and (min-width : $mediumMidWidth)
{
}


/* LARGE */
//64.0625rem = 1025px
@media only screen and (min-width: $largeMinWidth)
{
}